<h1><%= @list.name %></h1>
<% @list.bookmarks.each do |bookmark| %>
  <div class="card-trip">
    <img src="<%= bookmark.movie.poster_url %>"/>
    <div class="card-trip-infos">
      <div>
        <h2><%= bookmark.movie.title %></h2><span><%= bookmark.movie.rating %></span>
        <p><%= bookmark.movie.overview %></p>
        <h4 class="card-title">Comment</h4>
        <p class="card-text"><%= bookmark.comment %></p>
      </div>
    </div>
  </div>
<% end %>
