<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to '', lists_path, class: 'fa-solid fa-film' %>
        <div id="links">
          <%= link_to 'My Lists', lists_path, class: 'nav-link' %>
          <%= link_to 'New List', new_list_path, class: 'nav-link' %>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="footer"></div>
  </body>
</html>
